* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb514), to(#fad328));
  background-image: linear-gradient(to right, #ffb514, #fad328);
  color: black;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.country {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.country:hover > .country--name,
.country:hover > .country--name + .country--info > p,
.country:hover > .country--name + .country--info > ul {
  border: #cc0077 solid 0.3rem;
  background-color: #ececec;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.country:hover {
  background-color: #f10079;
  border: solid #cc0077 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.country--name {
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  width: auto;
  border: white solid 0.3rem;
  border-radius: 0.7rem;
  padding: 3rem 0.5rem;
  background-color: #ff005d;
}

.country--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.country--visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  font-size: 2.5rem;
  padding: 4.5rem;
  margin-right: 10rem;
  border: white solid 0.3rem;
  border-radius: 0.7rem;
  background-color: #ff005d;
}

.country--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 280%;
  font-weight: 300;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem;
  border: white solid 0.3rem;
  border-radius: 0.7rem;
  background-color: #ff005d;
}

.country--details li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.country--details__photos, .country--details__videos {
  margin-right: 1rem;
  font-size: 5rem;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.location--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem 0;
  margin-left: 3%;
  padding-top: 1rem;
  margin-right: auto;
  font-size: 5.5rem;
  font-weight: 300;
}

.location--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin-left: 3%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95%;
          flex: 0 0 95%;
}

.location--details__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  padding: 1rem 0rem;
}

.location--details__address-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1%;
          flex: 0 0 1%;
  margin-right: 2rem;
  font-size: 5rem;
}

.location--details__address-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 4rem;
}

.location--details__date-icon {
  margin-right: 4%;
  font-size: 5rem;
}

.location--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.location--details__date0 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.location--details__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 0;
  font-weight: 400;
  font-size: 3rem;
}

.location--details__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  font-weight: 400;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.location--details__media-icon {
  margin-right: 2rem;
  font-size: 5rem;
}

.photos--navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(whitesmoke));
  background-image: linear-gradient(to top, #fff, whitesmoke);
}

.photos--navigation__back, .photos--navigation__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  font-size: 2rem;
  height: 4rem;
  background-color: #f0f0f0;
  border: 0.2rem solid #d0d0d0;
  border-radius: 100rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.photos--navigation__back:hover, .photos--navigation__add:hover {
  background-color: #919191;
  color: #fff;
}

.photos--navigation__back {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  margin-left: 2rem;
  margin-right: auto;
}

.photos--navigation__back i {
  font-size: 1.8rem;
}

.photos--navigation__add {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5%;
          flex: 0 0 12.5%;
  margin-right: 2rem;
  margin-left: auto;
}

.photos {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#ffae00), to(#ff005d));
  background-image: linear-gradient(to left bottom, #ffae00, #ff005d);
  height: 100%;
}

.photos--view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
}

.photos--view .collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-left: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photos--view .collection--date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.photos--view .collection--date p {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.5rem;
  background-color: whitesmoke;
  border-radius: 0.3rem;
}

.photos--view .collection--photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photos--view .collection--photo {
  padding: 1rem;
}

.photos--view .collection--photo .photo {
  height: 20rem;
  width: 20rem;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  border: 0.4rem white solid;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.photos--view .collection--photo .photo:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.photos--view .collection--photo__add {
  height: 20rem;
  width: 20rem;
  margin: 1rem;
  border: rgba(255, 255, 255, 0.802) 0.3rem solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photos--view .collection--photo__add .btn-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(241, 241, 241, 0.333);
  padding: 2rem 2rem;
  border: rgba(255, 255, 255, 0.333) 0.3rem solid;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.photos--view .collection--photo__add .btn-add:hover {
  background-color: #dfdfdf;
  border: white solid 0.3rem;
}

.photos--view .collection--photo__add .btn--add__icon {
  height: 5rem;
  width: 5rem;
}

.files2 {
  display: none;
}

.photo__pop-up {
  position: absolute;
  z-index: 10;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: #ff1111 solid 0.1rem;
  border-radius: 1rem;
}

.photo__pop-up .btn__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.photo__pop-up .btn__close--icon {
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
}

.photo__pop-up .photo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0rem 2rem 2rem 2rem;
}

.photo__pop-up .photo__note--input {
  font-size: 165%;
  height: 2rem;
  width: 100%;
  border: none;
  margin: 1rem 0rem;
}

.photo__pop-up .photo__note--input::-webkit-input-placeholder {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.photo__pop-up .photo__note--input:-ms-input-placeholder {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.photo__pop-up .photo__note--input::-ms-input-placeholder {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.photo__pop-up .photo__note--input::placeholder {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.photo__pop-up .photo__large {
  height: 50rem;
  border-radius: 1rem;
  border: solid 0.1rem #ff8f73;
}

.btn__note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn__note .btn__post-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
  font-size: 175%;
  font-weight: 600;
  cursor: pointer;
  background-color: #cc0077;
  border: 0.1rem solid #e600a1;
  border-radius: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

.btn__note .btn__post-note:hover {
  background-color: #ff002b;
  border: 0.1rem solid black;
  color: black;
}

.btn__note-reveal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: #cc0077;
  border: 0.1rem solid #e600a1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 1rem;
}

.btn__note-reveal:hover {
  background-color: #ff002b;
  border: 0.1rem solid black;
  color: black;
}

.btn__note-reveal--icon {
  height: 1.5rem;
  width: 4rem;
  fill: white;
}

.note__container {
  font-size: 165%;
  width: 100%;
  border: none;
  margin: 1rem 0rem 0rem 0rem;
}

.results {
  /*flex: 0 0 25%;*/
  width: 100%;
}

.results--container {
  overflow: auto;
  border: 0.1rem solid #ffb444;
  width: 100%;
  height: 90.5vh;
  background-color: transparent;
}

.results--navigation {
  margin-bottom: 1rem;
}

.results--navigation__arrow {
  font-size: 5rem;
  cursor: pointer;
  margin-left: 5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.results--navigation__arrow:hover {
  color: white;
}

.entry {
  padding: 1.5rem;
  background-color: #ff3c00;
  color: white;
  border: solid white 0.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 1rem;
  -webkit-transform: scale(0.98) translateY(0.5rem);
          transform: scale(0.98) translateY(0.5rem);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.entry:hover {
  -webkit-transform: scale(1) translateY(0rem);
          transform: scale(1) translateY(0rem);
}

.entry:first-child {
  margin-top: 0.1rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search--filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  width: 100%;
}

.search--filter__filters {
  padding-left: 2.5rem;
  width: 60%;
  cursor: pointer;
}

.search--bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #cc0077;
  border: 0.1rem solid #e600a1;
  border-radius: 10rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search--bar:hover {
  background-color: #ff002b;
  border: 0.1rem solid black;
}

.search--bar__field, .search--bar__btn {
  border: none;
  background-color: transparent;
  font-size: 200%;
}

.search--bar__field {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91%;
          flex: 0 0 91%;
  margin-right: auto;
  padding-left: 4%;
}

.search--bar__field::-webkit-input-placeholder {
  font-weight: 300;
  color: white;
}

.search--bar__field:-ms-input-placeholder {
  font-weight: 300;
  color: white;
}

.search--bar__field::-ms-input-placeholder {
  font-weight: 300;
  color: white;
}

.search--bar__field::placeholder {
  font-weight: 300;
  color: white;
}

.search--bar__btn {
  width: 5rem;
  cursor: pointer;
  color: white;
}

.search--add__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  color: black;
  margin-left: 2rem;
  width: 15rem;
  font-weight: 500;
  cursor: pointer;
}

.search--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.search--logo__img {
  width: 5rem;
}

.field {
  height: 5rem;
  border-radius: 10rem;
  color: white;
  border: none;
  background-color: #cc0077;
  font-size: 200%;
}

.field:hover, .field:active {
  background-color: #ff002b;
  border: 0.05rem solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
}

.modal-form {
  z-index: 10;
  position: absolute;
  width: 80%;
  margin-left: 10%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-62.5%, -50%);
          transform: translate(-62.5%, -50%);
  border: black solid 0.1rem;
  border-radius: 1.5rem;
  background-color: #fff9ec;
  -webkit-box-shadow: 0.3rem 0.3rem 0.5rem #5e5e5e;
          box-shadow: 0.3rem 0.3rem 0.5rem #5e5e5e;
}

.form--container {
  height: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: 10%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new--form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.form--close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  margin-left: auto;
  margin-top: 0.5rem;
  background-color: #fff9ec;
  margin-right: 1.5rem;
}

.form--close i {
  background-color: #fff9ec;
  font-size: 240%;
  cursor: pointer;
}

.form--field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.form--field:first-child {
  margin-top: 3%;
}

.form--field .field--label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.form--field .field--label__label {
  font-size: 280%;
  color: black;
  font-weight: 500;
  width: 100%;
}

.form--field .field--input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  margin-left: auto;
}

.form--field .field--input__input {
  height: 6rem;
  width: 100%;
  border: black 0.1rem solid;
  border-radius: 2.5rem;
  font-size: 200%;
  font-weight: 500;
  padding-left: 2rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #5e5e5e;
          box-shadow: 0.1rem 0.1rem 0.1rem #5e5e5e;
}

.form--field .field--input__input::-webkit-input-placeholder {
  font-weight: 300;
}

.form--field .field--input__input:-ms-input-placeholder {
  font-weight: 300;
}

.form--field .field--input__input::-ms-input-placeholder {
  font-weight: 300;
}

.form--field .field--input__input::placeholder {
  font-weight: 300;
}

.dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.5rem;
}

.dates .date--start,
.dates .date--end {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.dates .date--title {
  color: black;
  display: block;
  margin-bottom: 1rem;
  font-size: 280%;
  font-weight: 500;
}

.dates .date--input {
  padding-right: 1rem;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  height: 5rem;
  width: 100%;
  border: black 0.1rem solid;
  border-radius: 2.5rem;
  font-size: 200%;
  font-weight: 500;
  padding-left: 2rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #5e5e5e;
          box-shadow: 0.1rem 0.1rem 0.1rem #5e5e5e;
}

.dates .date--input:hover {
  background-color: #f8f8f8;
}

.date--end {
  margin-left: 5rem;
}

.form--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3%;
}

.form--btns .custom-file-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: black solid 0.1rem;
  padding: 0.5rem 5rem;
}

.form--btns .post-media {
  margin-top: 3rem;
  margin-left: 42.5%;
  width: 15%;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media .number-upload {
  margin-left: 3rem;
  font-size: 200%;
  font-weight: 400;
  color: #0000c2;
}

#selectedFiles {
  display: none;
}

.form-btn {
  font-size: 200%;
  cursor: pointer;
  height: 5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #5e5e5e;
          box-shadow: 0.2rem 0.2rem 0.2rem #5e5e5e;
  background-color: rgba(255, 208, 0, 0.802);
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.form-btn:hover {
  background-color: rgba(255, 174, 0, 0.802);
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: green;
}

.hidden {
  display: none;
}

.overlay,
.overlay2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.415);
  z-index: 5;
  width: 100%;
  height: 100%;
}

/*--------MAIN NAVIGATION----------*/
header {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff0040), to(#ff3c00));
  background-image: linear-gradient(to right, #ff0040, #ff3c00);
  border: 0.1rem solid #ffb444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  margin: 2rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*:focus {
  outline: none;
}

/*--------MOBILE NAVIGATION----------*/
.mob-nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: none;
}

.mob-nav-icon i {
  font-size: 300%;
}

/*--------MAIN USER INTERFACE----------*/
.main--interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

/*--------WORLD MAP----------*/
.world-map {
  border: 0.1rem solid #ffb444;
  width: 100%;
  height: 100vh;
  background-color: #c2c2c2;
}
/*# sourceMappingURL=main.css.map */