.location {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &--name {
    display: flex;
    padding: 0.8rem 0;
    text-decoration: underline 0.2rem;
    margin-left: 3%;
    margin-right: auto;
    font-size: 300%;
    }

    &--details {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 3%;
    flex: 0 0 95%;

        &__address {
        display: flex;
        align-items: center;
        font-size: 220%;
        font-weight: 400;
        margin-right: 2%;
        }

        &__address-icon {
        margin-right: 4%;
        font-size: 200%;
        }

        &__date {
        display: flex;
        align-items: center;
        padding: 0.8rem 0;
        font-weight: 400;
        flex: 0 0 100%;
        font-size: 200%;
        }

        &__date-icon {
        margin-right: 4%;
        font-size: 110%;
        }

        &__media {
        display: flex;
        align-items: center;
        padding-bottom: 0.8rem;
        font-size: 220%;
        font-weight: 400;
        }

        &__media-icon {
        font-size: 120%;
        margin-right: 4%;
        }

        &__media-icon:last-child {
        margin: 0 4%;
        }
    }
  }