.location {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &--name {
    display: flex;
    padding: 0.8rem 0;
    margin-left: 3%;
    padding-top: 1rem;
    margin-right: auto;
    font-size: 5.5rem;
    font-weight: 300;
  }

  &--details {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 3%;
    flex: 0 0 95%;

    &__address {
      display: flex;
      align-items: center;
      font-weight: 300;
      padding: 1rem 0rem;
    }

    &__address-icon {
      display: flex;
      flex: 0 0 1%;
      margin-right: 2rem;
      font-size: 5rem;
    }

    &__address-text {
      display: flex;
      flex: 1;
      font-size: 4rem;
    }

    &__date-icon {
      margin-right: 4%;
      font-size: 5rem;
    }
  }

  &--info {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
  }

  &--details__date0 {
    flex: 1;
  }

  &--details__date {
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
    font-weight: 400;
    font-size: 3rem;
  }

  &--details__media {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 400;
    flex: 0 0 60%;
  }

  &--details__media-icon {
    margin-right: 2rem;
    font-size: 5rem;
  }
}
