.photos {
  background-image: linear-gradient(
    to left bottom,
    rgb(255, 174, 0),
    rgb(255, 0, 93)
  );
  height: 100%;
}

.photos--view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;

  .collection {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;

    &--date {
      display: flex;
      align-items: center;
      height: 4rem;
      margin-top: 4rem;
      margin-bottom: 3rem;

      p {
        font-size: 2rem;
        font-weight: 600;
        padding: 1.5rem;
        background-color: rgb(245, 245, 245);
        border-radius: 0.3rem;
      }
    }

    &--photos {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }

    &--photo {
      padding: 1rem;

      .photo {
        height: 20rem;
        width: 20rem;
        filter: brightness(100%);
        border: 0.4rem $color-white solid;
        cursor: pointer;
        display: block;
        transition: all 0.3s;

        &:hover {
          filter: brightness(90%);
        }
      }
    }

    &--photo__add {
      height: 20rem;
      width: 20rem;
      margin: 1rem;
      border: rgba(255, 255, 255, 0.802) 0.3rem solid;

      display: flex;
      align-items: center;
      justify-content: center;

      .btn-add {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(241, 241, 241, 0.333);
        padding: 2rem 2rem;
        border: rgba(255, 255, 255, 0.333) 0.3rem solid;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
          background-color: rgb(223, 223, 223);
          border: white solid 0.3rem;
        }
      }

      .btn--add__icon {
        height: 5rem;
        width: 5rem;
      }
    }
  }
}

.files2 {
  display: none;
}
