.search {
  display: flex;
  flex: 0 0 90%;
  justify-content: space-between;

  &--filter {
    display: flex;
    flex: 0 0 25%;
    justify-content: center;
    align-items: center;
    color: gray;
    width: 100%;

    &__filters {
      padding-left: 2.5rem;
      width: 60%;
      cursor: pointer;
    }
  }

  &--bar {
    display: flex;
    flex: 0 0 50%;
    width: 100%;
    justify-content: space-between;
    background-color: $btn-main-purple;
    border: 0.1rem solid $btn-main-border;
    border-radius: 10rem;
    transition: 0.5s;

    &:hover {
      background-color: $btn-main-hover;
      border: 0.1rem solid $color-black;
    }

    &__field,
    &__btn {
      border: none;
      background-color: transparent;
      font-size: 200%;
    }

    &__field {
      flex: 0 0 91%;
      margin-right: auto;
      padding-left: 4%;
    }

    &__field::placeholder {
      font-weight: 300;
      color: white;
    }

    &__btn {
      width: 5rem;
      cursor: pointer;
      color: white;
    }
  }

  &--add__btn {
    flex: 0 0 10%;
    color: $color-black;
    margin-left: 2rem;
    width: 15rem;
    font-weight: 500;
    cursor: pointer;
  }

  &--logo {
    display: flex;
    flex: 0 0 10%;
    justify-content: space-around;
    align-items: center;
    height: auto;

    &__img {
      width: 5rem;
    }
  }
}

.field {
  height: 5rem;
  border-radius: 10rem;
  color: white;
  border: none;
  background-color: $btn-main-purple;
  font-size: 200%;

  &:hover,
  &:active {
    background-color: $btn-main-hover;
    border: 0.05rem solid black;
    transition: 0.5s;
    color: black;
  }
}
