@media only screen and (max-width: 1500px) {
  /*-----HEADER-----*/
  .search {
    width: 425px;
  }
  .btn-filter {
    width: 180px;
    padding-left: 25px;
  }
  .btn-add {
    width: 150px;
    padding-top: 2px;
    font-weight: 400;
    margin-left: 50px;
  }
  /*-----NEW - FORM-----*/
  .form {
    width: 90%;
  }

  /*-----EXISTING - FORM-----*/

  /*-----SEARCH RESULTS-----*/
  .country-details li {
    padding-bottom: 6px;
  }
  /*-----LOCACTION RESULTS-----*/
  .location-details li,
  .location-details .media {
    font-size: 110%;
    margin-top: 4px;
  }
}

@media only screen and (max-width: 1300px) {
  /*-----HEADER-----*/
  .search {
    width: 360px;
  }
  .btn-filter {
    width: 150px;
    padding-left: 15px;
  }
  .btn-add {
    width: 125px;
    margin-left: 30px;
  }
  /*-----NEW - FORM-----*/
  .field--input__input {
    height: 55px;
  }

  /*-----EXISTING - FORM-----*/
  .existing--result__name {
    font-size: 90%;
  }
  .existing--result__date-end {
    margin-left: 0px;
  }

  /*-----SEARCH RESULTS-----*/

  /*-----LOCACTION RESULTS-----*/
  .location h2,
  .location-address,
  .date-visit,
  .location-details .media {
    padding-left: 15px;
  }
  .location h2 {
    padding-top: 7px;
    text-decoration: underline 2px;
    font-size: 180%;
  }
  .location-details li,
  .location-details .media {
    font-size: 100%;
    font-weight: 590;
  }
}

@media only screen and (max-width: 1100px) {
  /*-----HEADER-----*/
  .search,
  .btn-search,
  .btn-filter,
  .btn-add {
    height: 45px;
    font-size: 95%;
  }
  .search {
    width: 285px;
  }
  .btn-search {
    width: 45px;
  }
  .btn-filter {
    width: 130px;
    padding-left: 10px;
    margin-left: 40px;
  }
  .btn-add {
    width: 125px;
    margin-left: 20px;
  }
  .logo {
    height: 50px;
    width: 50px;
  }
  /*-----NEW - FORM-----*/
  .modal-form {
    margin-top: 3.5%;
  }
  .field--label__label {
    font-size: 120%;
  }
  .field--input__input {
    height: 50px;
    font-size: 90%;
  }
  .dates {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .date--title {
    font-size: 120%;
  }
  .choose-media {
    margin-top: 10px;
    padding: 5px 25px;
  }
  .post-media {
    margin-top: 30px;
  }

  /*-----EXISTING - FORM-----*/
  .name--field,
  .location--field {
    height: 45px;
  }
  .name--field__input,
  .location--field__input {
    font-size: 90%;
  }
  .existing--result__name {
    font-size: 80%;
  }

  /*-----SEARCH RESULTS-----*/
  .country-details li {
    font-weight: 400;
    font-size: 130%;
  }
  .country-details li i {
    margin-right: 6px;
  }
  .times-visit {
    font-weight: 598;
  }
  /*-----LOCACTION RESULTS-----*/
  .location h2,
  .location-address,
  .date-visit,
  .location-details .media {
    padding-left: 10px;
  }
  .location h2 {
    padding-top: 5px;
    font-size: 160%;
  }
  .location-details li,
  .location-details .media {
    font-size: 90%;
    font-weight: 600;
  }
}

@media only screen and (max-width: 900px) {
  /*-----HEADER-----*/
  .search,
  .btn-search,
  .btn-filter,
  .btn-add,
  .logo {
    height: 40px;
  }

  .search {
    width: 190px;
    font-size: 90%;
    margin-left: 30px;
  }
  .btn-search {
    width: 40px;
  }
  .btn-filter {
    width: 115px;
    padding-left: 10px;
    margin-left: 20px;
    font-size: 80%;
  }
  .btn-add {
    width: 100px;
    font-size: 80%;
    margin-left: -10px;
  }
  .logo {
    width: 40px;
    margin-top: 0px;
  }
  /*-----NEW - FORM-----*/
  .form-btn {
    font-size: 80%;
    height: 45px;
  }
  .type h4 {
    font-size: 90%;
  }
  .form--close i {
    font-size: 100%;
  }
  .form--field {
    flex-direction: column;
    margin: 18px 0;
  }
  .field--input {
    width: 100%;
  }
  .field--label {
    margin-bottom: 5px;
  }
  .field--label__label {
    font-size: 100%;
  }
  .field--input__input {
    height: 45px;
    font-size: 70%;
    padding-left: 10px;
  }
  .dates {
    margin-top: 30px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .date--end {
    margin-left: 0px;
    margin-top: 15px;
  }
  .date--title {
    margin-bottom: 10px;
    font-size: 100%;
  }
  .date--input {
    height: 45px;
    width: 60%;
    margin-left: 0%;
    font-size: 80%;
    font-weight: 500;
    padding-left: 20px;
  }
  .form--btns {
    display: flex;
    margin-top: 40px;
  }
  .media {
    flex: 0 0 60%;
  }
  .post {
    flex: 0 0 35%;
    margin-left: auto;
  }
  .choose-media {
    font-size: 90%;
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  .post-media {
    margin-top: 0;
    width: 100%;
    margin-left: 0;
  }

  /*-----EXISTING - FORM-----*/
  .existing--form {
    margin-top: 35px;
  }
  .name--field,
  .location--field {
    height: 40px;
    margin-bottom: 5px;
    font-size: 90%;
  }
  .existing--result {
    flex-direction: column;
  }
  .existing--result__name {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .existing--result__date-container {
    display: flex;
    justify-content: space-between;
  }
  .existing--result__date-start,
  .existing--result__date-end {
    width: 50%;
  }
  .existing--result__add {
    width: 35%;
    margin-top: 15px;
    padding: 5px;
    height: 60px;
  }

  /*-----SEARCH RESULTS-----*/
  .country {
    font-size: 90%;
  }
  .country-details li {
    font-weight: 400;
    font-size: 120%;
  }
  .country-details li i {
    margin-right: 6px;
  }
  .times-visit {
    font-weight: 650;
  }
  /*-----LOCACTION RESULTS-----*/
  .location h2,
  .location-address,
  .date-visit,
  .location-details .media {
    padding-left: 3px;
  }
  .location h2 {
    padding-top: 1px;
    font-size: 140%;
  }
  .location-details li,
  .location-details .media {
    margin-top: 8px;
  }
}
