* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

html,
body {
  background-image: linear-gradient(to right, #ffb514, #fad328);
  color: black;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

.row {
  width: 114rem;
  margin: 0 auto; }

.col {
  margin: 0;
  padding: 0; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

/*-------REUSABLE COMPONENTS-----------*/
.entry {
  background-color: #ff3c00;
  color: black;
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 0.5rem;
  transition: 1s; }

.entry:hover {
  background-color: #ff005d; }

.entry:first-child {
  margin-top: 0.1rem; }

.field {
  height: 5rem;
  border-radius: 10rem;
  border: 0.1rem solid #ffb444;
  background-color: #fdeeba;
  font-size: 200%; }

.field:hover,
.field:active {
  background-color: #ffe27a;
  transition: background-color 0.5s; }

.hidden {
  display: none; }

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.415);
  z-index: 5;
  width: 100%;
  height: 100vh; }

/*-------------------------------------------------*/
/*--------MAIN NAVIGATION----------*/
/*-------------------------------------------------*/
header {
  background-image: linear-gradient(to right, #ff0040, #ff3c00);
  border: 0.1rem solid #ffb444;
  display: flex; }

.main--nav {
  display: flex;
  flex: 0 0 90%;
  margin: 2rem 0;
  justify-content: center; }

.search {
  display: flex;
  flex: 0 0 90%;
  justify-content: space-between; }

.search--filter {
  display: flex;
  flex: 0 0 25%;
  justify-content: center;
  align-items: center;
  color: #5a5756;
  width: 100%; }

.search--filter__filters {
  padding-left: 2.5rem;
  width: 60%;
  cursor: pointer; }

.search--bar {
  display: flex;
  flex: 0 0 50%;
  width: 100%;
  justify-content: space-between; }

.search--bar__field {
  flex: 0 0 91%;
  margin-right: auto;
  padding-left: 4%; }

.search--bar__btn {
  width: 5rem;
  cursor: pointer; }

.search--add__btn {
  flex: 0 0 10%;
  color: black;
  margin-left: 2rem;
  width: 15rem;
  font-weight: 500;
  cursor: pointer; }

.search--logo {
  display: flex;
  flex: 0 0 10%;
  justify-content: space-around;
  align-items: center;
  height: auto; }

.search--logo__img {
  width: 5rem; }

.search--bar__field::placeholder {
  font-weight: 300; }

*:focus {
  outline: none; }

/*-------------------------------------------------*/
/*--------MOBILE NAVIGATION----------*/
/*-------------------------------------------------*/
.mob-nav-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  display: none; }

.mob-nav-icon i {
  font-size: 300%; }

/*-------------------------------------------------*/
/*--------MAIN USER INTERFACE----------*/
/*-------------------------------------------------*/
.main--interface {
  display: flex; }

/*-------------------------------------------------*/
/*--------RESULTS CONTAINER----------*/
/*-------------------------------------------------*/
.results {
  flex: 0 0 25%; }

.results--container {
  overflow: auto;
  border: 0.1rem solid #ffb444;
  width: 100%;
  height: 100vh;
  background-color: transparent; }

.results--navigation i {
  margin-left: 7%;
  font-size: 240%;
  font-weight: 700;
  cursor: pointer; }

/*-------------------------------------------------*/
/*--------SEARCH RESULTS----------*/
/*-------------------------------------------------*/
.country {
  cursor: pointer; }

.country--name {
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
  text-decoration: underline 0.2rem;
  font-size: 350%;
  font-weight: 600; }

.country--visited {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 200%; }

.country--details {
  display: flex;
  list-style: none;
  font-size: 280%;
  font-weight: 400;
  justify-content: space-around;
  padding: 0.8rem 0; }

.country--details__photos,
.country--details__videos {
  margin-right: 0.5rem; }

/*-------------------------------------------------*/
/*--------LOCATION RESULTS----------*/
/*-------------------------------------------------*/
.location {
  display: flex;
  flex-direction: column;
  cursor: pointer; }

.location--name {
  display: flex;
  padding: 0.8rem 0;
  text-decoration: underline 0.2rem;
  margin-left: 3%;
  margin-right: auto;
  font-size: 300%; }

.location--details {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 3%;
  flex: 0 0 95%; }

.location--details__address {
  display: flex;
  align-items: center;
  font-size: 220%;
  font-weight: 400;
  margin-right: 2%; }

.location--details__address-icon {
  margin-right: 4%;
  font-size: 200%; }

.location--details__date {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  font-weight: 400;
  flex: 0 0 100%;
  font-size: 200%; }

.location--details__date-icon {
  margin-right: 4%;
  font-size: 110%; }

.location--details__media {
  display: flex;
  align-items: center;
  padding-bottom: 0.8rem;
  font-size: 220%;
  font-weight: 400; }

.location--details__media-icon {
  font-size: 120%;
  margin-right: 4%; }

.location--details__media-icon:last-child {
  margin: 0 4%; }

/*-------------------------------------------------*/
/*--------WORLD MAP----------*/
/*-------------------------------------------------*/
.world-map {
  border: 0.1rem solid #ffb444;
  width: 100%;
  height: 100vh;
  background-color: #c2c2c2; }

/*-------------------------------------------------*/
/*--------FORMS----------*/
/*-------------------------------------------------*/
.modal-form {
  z-index: 10;
  position: absolute;
  width: 80%;
  margin-left: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-62.5%, -50%);
  border: black solid 0.1rem;
  border-radius: 1.5rem;
  background-color: #fff9ec;
  box-shadow: 0.3rem 0.3rem 0.5rem #5e5e5e; }

.menu {
  display: flex;
  width: 100%;
  border-bottom: black 0.1rem solid; }

.form--container {
  height: 100%; }

.form {
  display: flex;
  width: 80%;
  margin-left: 10%;
  position: relative;
  align-items: center; }

.form-type {
  display: flex;
  width: 100%; }

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  flex: 0 0 40%; }

.type h4 {
  color: black;
  font-size: 240%;
  font-weight: 400;
  cursor: pointer; }

.form--close {
  border: none;
  margin-left: auto;
  background-color: #fff9ec;
  margin-right: 1.5rem; }

.form--close i {
  background-color: #fff9ec;
  font-size: 240%;
  cursor: pointer; }

.active {
  border: black solid 0.1rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  background-image: linear-gradient(to right, rgba(255, 247, 0, 0.802), rgba(255, 208, 0, 0.802)); }

/*-------REUSABLE FORM COMPONENTS-------*/
.form-btn {
  font-size: 200%;
  cursor: pointer;
  height: 5rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #5e5e5e;
  background-color: rgba(255, 208, 0, 0.802);
  transition: background-color 0.25s; }

.form-btn:hover,
.form-btn:hover {
  background-color: rgba(255, 174, 0, 0.802); }

/*-------------------------------------------------*/
/*--------ADD MEDIA FORM----------*/
/*-------------------------------------------------*/
.new--form {
  width: 100%; }

.existing--form {
  width: 100%; }

.form--field {
  display: flex;
  align-items: center;
  margin: 2rem 0; }

.form--field:first-child {
  margin-top: 3%; }

.field--label {
  flex: 0 0 20%; }

.field--input {
  flex: 0 0 75%;
  margin-left: auto; }

.field--label__label {
  font-size: 280%;
  color: black;
  font-weight: 500;
  width: 100%; }

.field--input__input {
  height: 6rem;
  width: 100%;
  border: black 0.1rem solid;
  border-radius: 2.5rem;
  font-size: 200%;
  font-weight: 500;
  padding-left: 2rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #5e5e5e; }

.field--input__input::placeholder {
  font-weight: 300; }

.dates {
  display: flex;
  margin-bottom: 3.5rem; }

.date--start,
.date--end {
  flex: 0 0 30%; }

.date--end {
  margin-left: 5rem; }

.date--title {
  color: black;
  display: block;
  margin-bottom: 1rem;
  font-size: 280%;
  font-weight: 500; }

.date--input {
  padding-right: 1rem;
  cursor: pointer;
  transition: 0.25s;
  height: 5rem;
  width: 100%;
  border: black 0.1rem solid;
  border-radius: 2.5rem;
  font-size: 200%;
  font-weight: 500;
  padding-left: 2rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #5e5e5e; }

.date--input:hover {
  background-color: #f8f8f8; }

.form--btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%; }

.choose-media {
  border: black solid 0.1rem;
  padding: 0.5rem 5rem; }

.post-media {
  margin-top: 3rem;
  margin-left: 42.5%;
  width: 15%; }

/*-------------------------------------------------*/
/*--------EXISTING MEDIA FORM----------*/
/*-------------------------------------------------*/
.existing--form {
  margin-top: 0rem; }

.name--field,
.location--field {
  width: 100%;
  height: 5rem; }

.name--field {
  flex: 0 0 32.5%; }

.location--field {
  flex: 0 0 65%;
  margin-left: auto; }

.name--field__input,
.location--field__input {
  padding-left: 2rem;
  font-weight: 300;
  font-size: 200%; }

.existing--results {
  display: flex;
  overflow: auto;
  flex-direction: column;
  border: black 0.2rem solid;
  border-radius: 0.5rem;
  height: 40rem;
  background-color: white;
  margin-bottom: 3.5%; }

.existing--result {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0rem;
  padding: 1.5rem 1.5rem;
  background-color: #f1f1f1;
  border-bottom: #312121 0.1rem solid; }

.existing--result__name {
  flex: 0 0 40%;
  font-weight: 400;
  margin-right: auto;
  font-size: 150%; }

.existing--result__date-container {
  display: flex;
  justify-content: space-around;
  flex: 0 0 40%; }

.existing--result__date-start,
.existing--result__date-end {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
  height: 4rem;
  width: 42.5%;
  border: black 0.1rem solid;
  border-radius: 2.5rem;
  background: white;
  font-size: 140%;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.existing--result__date-start:hover,
.existing--result__date-end:hover {
  background-color: #f1f1f1; }

.existing--result__add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 10%;
  width: 100%;
  height: 4rem;
  background-color: rgba(255, 208, 0, 0.802); }
