$color-orange: rgb(255, 181, 20);
$color-yellow: rgb(250, 211, 40);

$btn-main-purple: rgb(204, 0, 119);
$btn-main-border: rgb(230, 0, 161);
$btn-main-hover: rgb(255, 0, 43);

$entry-hover-purple: rgb(255, 0, 93);

$color-black: black;
$color-white: white;
$color-dark-grey-1: grey;
